///////////////////////
//// Media Queries ////
///////////////////////

@media screen and (min-width: 600px) {
    .desktop-nav-wrapper {
        display: block;
    }

    .hamburger-wrapper {
        display: none;
    }
    
    .profile-image,
    .profile-blurb {
        max-width: 50%;
        vertical-align: middle;
        display: inline-block;
        white-space: normal;
    }
}