////////////////
//// Mixins ////
////////////////

@mixin positioning($pos: relative, $l: null, $r: null, $t: null, $b: null) {
    position: $pos;
    left: $l;
    right: $r;
    top: $t;
    bottom: $b;
}