////////////////
//// Layout ////
////////////////

.ajax-loader {
    @include positioning(fixed, 0, 0, 0, 0);
    transition: $transitionSpeed;
    background-color: white;
    z-index: 100;

    .ajax-image {
        @include positioning(absolute, $l: 50%, $t: 50%);
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
    }
}

.frame {
    padding: 10px 20px;
    border: 5px solid $primaryBlack;
    z-index: 50;
    transition: filter $transitionSpeed;
}

header {
    nav {
        padding: 20px 0;
    }

    .logo {
        width: 50px;
        height: 50px;
    }
}

.mobile-nav-dropdown {
    @include positioning(fixed, 0, 0, 0, 0);
    background-color: white;
    opacity: 0.9;
    display: none;
}