////////////////
//// Layout ////
////////////////

.ajax-loader {
    @include positioning(fixed, 0, 0, 0, 0);
    transition: $transitionSpeed;
    background-color: white;
    z-index: 1000;

    .ajax-image {
        @include positioning(absolute, $l: 50%, $t: 50%);
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
    }
}

.frame {
    border: 5px solid $primaryBlack;
    z-index: 50;
    transition: filter $transitionSpeed;
    display: none;
    opacity: 0;
}

header {
    &.inner {
        padding-bottom: 0px;
    }

    &.max-width {
        max-width: 1400px;
    }

    nav {
        padding: 20px 0;
    }

    .logo {
        width: 50px;
        height: 50px;
    }
}

.mobile-nav-dropdown {
    overflow: hidden;
    transition: max-height $transitionSpeed $elementBezier;
    box-shadow: inset 0px 0px 10px grey;
    margin: 0 -20px;
    background-color: rgb(250, 250, 250);
    display: none;
}

.mobile-nav,
.desktop-nav {
    height: 100%;
    padding: 20px 40px;
    margin: 0;
    list-style-type: none;

    li {
        a {
            text-decoration: none;
            color: $blueColor;
            font-size: 20px;
            line-height: 1.4em;
        }
    }
}

.desktop-nav-wrapper {
    float: right;
    display: none;

    .desktop-nav {
        padding: 0;

        li {
            display: inline-block;
            line-height: 50px;
            margin: 0 20px;

            a {
                box-shadow: 0px 0px 0px 0px $blueColor;
                transition: $transitionSpeed;
            }
        }
    }
}

.max-width {
    max-width: 1000px;
    margin: 0 auto;
}