/////////////////
//// Modules ////
/////////////////

.hamburger-wrapper {
    float: right;
    display: block;
}

.hamburger-button {
    float: right;
    width: 50px;
    height: 50px;
    position: relative;

    span {
        width: 80%;
        height: 4px;
        background-color: $primaryBlack;
        display: block;
        margin: 0 auto;
        position: absolute;
        left: 10%;
        transition: $transitionSpeed $buttonBezier;
        transform: translateY(-35%);

        &:nth-child(1) {
            top: 35%;
        }

        &:nth-child(2) {
            top: calc(65% - 4px);
        }
    }
}

.menu-title {
    float: right;
    line-height: 50px;
    padding-right: 5px;
    font-weight: 400;
}

.profile-image {
    width: 80%;
    max-width: 350px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.intro {
    .blurb {
        margin: 2em auto;
        max-width: 600px;
        text-align: center;
    }
}

.subheading {
    font-weight: 400;
}

.services {
    article {
        padding-bottom: 10px;
    }
}

.contact {
    text-align: center;
    box-shadow: inset 0px 0px 10px;
    margin: 0 -20px;

    .content-wrapper {
        max-width: 300px;
        margin: 0 auto;
    }
}

.button {
    padding: 20px 25px;
    border: 2px solid $primaryBlack;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 0 20px 0;
    color: $blueColor;
}

footer {
    text-align: center;
}